body {
    margin: 0;
    padding: 0;
}

.m-container {
    background: #1E293B;
    height: 99vh;
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cards {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.card-grande {
    height: 400px;
    flex: 1;
    background: #334155;
    border-radius: 8px;
}

.card-filtros {
    height: 110px;
    width: 100%;
    background: #334155;
    border-radius: 8px;
}

.espaçamento {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}