body {
    margin: 0;
    padding: 0;
}

.m-container {
    background: #1E293B;
    height: 99vh;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cards {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.card-grande {
    height: 480px;
    flex: 1;
    background: #334155;
    border-radius: 8px;
    
}

.card-filtros {
    height: 110px;
    width: 100%;
    background: #334155;
    border-radius: 8px;
}

.espaçamento {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-filtros-conteudo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.botão {
    width: 130px;
    height: 50px;
    background: #2596ED;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.botão-visualização {
    width: 130px;
    height: 50px;
    background: #2596ED;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}